main {
  width: -webkit-fit-content;

  border: 1px solid #ccc;
  padding: 10px;
}

.upper-input {
  margin: 2px 0;
  display: flex;
  align-items: center;

}

.upper-input input {
  margin: 0;
  padding: 0;
  border: 1px black solid;
  height: 20px;
  width: 180;
}

.upper-input p {
  margin: auto 0;
  padding: 0;
  border: 1px solid black;
  height: 20px;
  width: 20px;

  text-align: center; 
}

.date {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 200px;
}

.date * {
  margin: 5px 0;
}

table {
  width: 200px;
}

td {
  text-align: center;
  border: 1px solid black;
}

td:nth-child(7n+1) {
  color: red;
}

.other-month {
  opacity: 0.4;
}
